$color_pink: #f7d0ce;
$color_drk_grey : #36373b;
$color_lgt_grey : #8a8c93;

.banner{
	background-color: $color_drk_grey;
}
.contact-icons{
	color:white
}

.section-title{
	background-color: $color_pink;

}
.lgt-grey{
	color: $color_lgt_grey;
}
.work{
	color:$color_lgt_grey;
}
.work:hover{
	color: $color_pink;
}
.work-role{
	font-weight:bold;
}
.grey{
	color:$color_drk_grey;
}
.slant-top{
	background-color: #c2aaa9;
	-webkit-clip-path: polygon(0 55%, 100% 0, 100% 120%, 0 100%);
  clip-path: polygon(0 55%, 100% 0, 100% 120%, 0 100%);
}
.slant-bottom{
		background-color: #c2aaa9;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}
